<%= form_with(model: @task, local: true) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %><%= t('view.error_info') %></h2>
      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="task_title">
    <%= form.label :title %>
    <%= form.text_field :title %>
    <%= form.label :content %>
    <%= form.text_field :content %>
    <%= form.label :time_limit %>
    <%= form.date_field :time_limit %>
    <%= form.label :status %>
    <%= form.select :status,
    [t('not started yet'),t('WIP'),t('Done')] %>

    <%= form.label :priority %>
    <%= form.select :priority, Task.priorities_i18n.invert, {} %>

  <% Label.all.each do |label| %>
      <% if action_name == 'new' || action_name == 'create' %>
        <%= form.check_box :label_ids, { multiple: true, checked: label[:checked], disabled: label[:disabled], include_hidden: false}, label[:id], "" %>
        <label><%= label.name %></label>
      <% elsif action_name == 'edit' || action_name == 'update' %>
        <%= form.check_box :label_ids, { multiple: true, checked: @task.label_ids.include?(label.id), disabled: label[:disabled], include_hidden: false}, label[:id], "" %>
        <label><%= label.name %></label>
      <% end %>
    <% end %>
  </div>
    <%= form.submit %>
<% end %><br>
  <%= link_to t('view.back_to_index'), tasks_path %>


