<h1><%= t('view.tasks')%></h1>

<p><%= notice %></p>

<div class="search-form">
  <%= form_with(url: tasks_path, method: :get, local: true) do |f| %>
      <%= f.label :title_serch, "タイトル検索" %>
      <%= f.text_field :title, class: 'from-control' %>
      
      <%= f.label :title_serch, "状態検索" %>
      <%= f.select :status,["未着手","作業中","完了"], class: 'from-control' %>

    <%= f.hidden_field :search, value: 'true' %>
    <p><%= f.submit '検索する'%><p>
  <% end %>

<table>
  <tr>
    <th><%= t('view.title')%></th>
    <th><%= t('view.content')%></th>
    <th><%= t('view.time_limit')%></th>
    <th><%= t('view.status')%></th>

  </tr>

<% @task.each do |task| %>
  <tr>
    <td><%= task.title %></td>
    <td><%= task.content %></td>
    <td><%= task.time_limit %></td>
    <td><%= task.status %></td>

    <td><%= link_to t('view.show'), task_path(task.id) %></td>
    <td><%= link_to t('view.edit'), edit_task_path(task.id), data: { confirm: t('view.confirm_edit') } %><td>
    <td><%= link_to t('view.delete'), task_path(task.id), method: :delete , data: { confirm: t('view.confirm_delete') }%><td>
  </tr>
<% end %>


</table>

<%= link_to t('view.time_limit_sort'), tasks_path(sort_expired: "true") %>
<%= link_to t('view.new'), new_task_path %>
