<h1><%= t('view.show') %></h1>

<p><%= t('view.title') %> : <%= @task.title %></p>
<p><%= t('view.content') %> : <%= @task.content %></p>
<p><%= t('view.time_limit') %> : <%= @task.time_limit %></p>
<p><%= t('view.status')%> : <%= @task.status %></p>
<p><%= t('view.priority')%> : <%= @task.priority %></p>
<p><%= t('view.label') %> : <% @task.labels.each do |label| %>
    <%= label.name %></p>
    
<% end %> <br>     

  <%= link_to t('view.back_to_index'), tasks_path %>

